/* div容器 */
#container {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 2.875rem;
  background-color: var(--arttab-background-color);
  box-shadow: 0 1px 2px 0 rgb(var(--arttab-background-color) / 5%);
}

.artnavcontainerscroll {
  top: 0;
  transition: all 0.3s linear;
}

.artnavcontainer {
  top: 3.75rem;
  transition: all 0.3s linear;
}

/* nav导航栏 */
.navul {
  position: relative;
  display: flex;
  max-width: 960px;
  height: 100%;
  margin: auto;
  overflow-x: auto;
  overflow-y: hidden;
  line-height: 1;
  white-space: nowrap;
}

.navul li {
  display: inline-block;
  width: auto;
  height: 2.875rem;
  padding: 0 0.75rem;
  font-size: 0.875rem;
  line-height: 2.875rem;
  color: var(--arttab-color);
}

.navul .selectli {
  color: rgb(0 127 255);
}
