.list {
  width: 700px;
  margin-right: 260px;
  background-color: var(--article-list-background-color);
  border-radius: 2px;
}

@media (max-width: 960px) {
  .list {
    width: 100%;
    margin-right: 0;
  }
}

.container {
  position: relative;
  width: 100%;
  background-color: var(--article-list-background-color);
}

.header {
  padding: 16px 12px;
  border-bottom: 1px solid hsl(0deg 0% 59.2% / 10%);

  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      line-height: 1;

      .item {
        position: relative;
        padding: 0 14px;
        font-size: 14px;
        cursor: pointer;
        border-right: 1px solid hsl(0deg 0% 59.2% / 20%);
        color: var(--article-list-text-color);

        &.active a {
          color: #007fff;
        }
      }
    }
  }
}
