.list {
  width: 700px;
  margin-right: 260px;
  background-color: white;
  border-radius: 2px;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.header {
  padding: 16px 12px;
  border-bottom: 1px solid hsl(0deg 0% 59.2% / 10%);

  .nav {
    display: flex;
    justify-content: flex-start;

    .list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1;

      .item {
        position: relative;
        padding: 0 14px;
        font-size: 14px;
        cursor: pointer;
        border-right: 1px solid hsl(0deg 0% 59.2% / 20%);

        &.active {
          color: #007fff;
        }
      }
    }
  }
}
