.list {
  width: 700px;
  margin-right: 21.667rem;
  background-color: white;
  border-radius: 2px;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px 0;
    margin-bottom: 0;
    cursor: pointer;
    background: #fff;
    border-bottom: 1px solid rgb(228 230 235 / 50%);
    transition: all 0.3s ease-in;

    .meta {
      display: flex;
      align-items: center;
      color: #86909c;

      .author {
        display: flex;
        align-items: center;
        max-width: 162px;
        margin-right: 8px;
        overflow: hidden;
        font-size: 13px;
        line-height: 22px;
        color: #4e5969;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;

        &:hover {
          color: #1d7dfa;
        }
      }

      .date {
        position: relative;
        flex-shrink: 0;
        padding: 0 10px;
        font-size: 13px;
        line-height: 22px;
      }

      .tags {
        display: flex;
        align-items: center;

        .tag {
          position: relative;
          display: flex;
          flex-shrink: 0;
          align-items: center;
          padding: 0 8px;
          font-size: 13px;
          line-height: 22px;
          color: #86909c;

          &:hover {
            color: #1d7dfa;
          }
        }
      }
    }

    .content {
      display: flex;
      width: 100%;
      padding-bottom: 12px;
      margin-top: 10px;

      .main {
        flex: 1 1 auto;

        .title {
          display: flex;
          margin-bottom: 8px;

          a {
            display: -webkit-box;
            width: 100%;
            overflow: hidden;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            color: #1d2129;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }

        .desc {
          margin-bottom: 10px;

          a {
            display: -webkit-box;
            overflow: hidden;
            font-size: 13px;
            line-height: 22px;
            color: #86909c;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
      }

      .img {
        position: relative;
        flex: 0 0 auto;
        width: 120px;
        height: 80px;
        margin-left: 24px;
        background-color: #fff;
        border-radius: 2px;
        object-fit: cover;
      }
    }

    .dislike {
      position: absolute;
      top: 1.333rem;
      right: 1.667rem;
      display: inline-block;
      width: 1rem;
      height: 1rem;
      cursor: pointer;
      background: url('//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/29d9ea681a1040a9e1ba2bc4ee12fa20.svg') 0 0 no-repeat;
      background-size: 100% 100%;
      transition: all 0.15s linear;
    }
  }
}

.header {
  padding: 1.3rem 1rem;
  border-bottom: 1px solid hsl(0deg 0% 59.2% / 10%);

  .nav {
    display: flex;
    justify-content: flex-start;

    .list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1;

      .item {
        position: relative;
        padding: 0 1.2rem;
        font-size: 1.16rem;
        cursor: pointer;
        border-right: 1px solid hsl(0deg 0% 59.2% / 20%);

        &.active {
          color: #007fff;
        }
      }
    }
  }
}
