@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, menlo, monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* 深色模式 */
html[data-theme='dark'] {
  --body-background-color: #121212;
  --topnav-background-color: #272727;
  --topnav-color: rgb(227 227 227);
  --topnav-title-color: white;
  --topnav-border-color: #333;
  --topnav-theme-icon: url('../../public/light.png');
  --arttab-background-color: #272727;
  --arttab-color: rgb(227 227 227);
  --bookletadv-background-color: #272727;
  --bookletadv-color: #7d7d7f;
  --bookletadv-first-color: #e3e3e3;
}

/* 浅色模式 */
html[data-theme='light'] {
  --body-background-color: #f4f5f5;
  --topnav-background-color: white;
  --topnav-color: #515767;
  --topnav-title-color: black;
  --topnav-border-color: #f1f1f1;
  --topnav-theme-icon: url('../../public/dark.png');
  --arttab-background-color: white;
  --arttab-color: rgb(144 144 144);
  --bookletadv-background-color: white;
  --bookletadv-color: #86909c;
  --bookletadv-first-color: #1d2129;
}
