.title {
  font-size: 20px;
  @apply font-bold;
}

.name {
  font-size: 16px;
}

.value {
  font-size: 16px;
}
.home{
  display: flex;
  padding: 10px 400px;
}
.article_list_item{
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  cursor: pointer;
}
.title{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1d2129;
}
