/* 主体部分 */

.container {
  position: relative;
  height: 60px;
}

.container > div {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 250;
  height: 60px;
  color: #909090;
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
  transition: all 0.2s;
  transform: translate3d(0, -100%, 0);
}

.container > div.visible {
  transform: translateZ(0);
}

.container > div > div {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: auto;
}

/* LOGO 部分 */

.logo {
  display: inline-block;
  width: auto;
  height: 22px;
  margin-right: 1rem;
  margin-left: 24px;
}

/* Nav 部分 */

.nav {
  flex: 1 0 auto;
  height: 100%;
  line-height: normal;
}

@media screen and (max-width: 1140px) {
  .wider {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .narrower {
    display: none;
  }
}

.list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 0;
  margin: 0;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 99;
  height: 60px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #86909c;
  cursor: pointer;
}

.wider .list .item {
  width: 52px;
}

.item a {
  position: relative;
  display: inline-block;
  height: 60px;
  margin: 0 12px;
  line-height: 60px;
  color: #515767;
}

.item a.selected {
  font-weight: 500;
  color: #1e80ff;
}

.item a:hover {
  color: #252933;
}

.item a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.item a:hover::before {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  content: '';
  background-color: #1e80ff;
}

.remark {
  position: absolute;
  top: 0.3125rem;
  left: 1.5625rem;
  box-sizing: content-box;
  width: auto;
  height: 0.9375rem;
  padding: 2px;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: white;
  white-space: nowrap;
  background-color: red;
  border-radius: 10px;
  transform: scale(0.75);
}

/* 切换主题 */

.theme {
  position: absolute;
  right: 60px;
  width: 30px;
  height: 30px;
  margin-top: 12px;
  background-image: var(--topnav-theme-icon);
  background-size: 30px 30px;
}
