#toptabcontainer {
  position: fixed;
  left: 0;
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 3.75rem;
  background-color: var(--topnav-background-color);
  border-bottom: 1px solid var(--topnav-border-color);
}

.toptabcontainerfirst {
  top: 0;
  transition: all 0.3s linear;
}

.toptabcontainersroll {
  top: -3.75rem;
  transition: all 0.3s linear;
}

#toptabcontainer .logo {
  display: flex;
  height: 1.375rem;
  margin: 1.19rem 0.625rem;
  font-size: 18px;
}

#toptabcontainer .logo span {
  margin-left: 0.31rem;
  line-height: 1.375rem;
  color: var(--topnav-title-color);
}

#toptabcontainer .navbig ul:first-of-type {
  display: flex;
  line-height: 3.75rem;
  text-align: center;
}

#toptabcontainer .nav ul li {
  position: relative;
  width: 3.25rem;
  height: 100%;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--topnav-color);
}

#toptabcontainer .nav ul li a {
  display: inline-block;
  height: 3.75rem;
  cursor: pointer;
}

#toptabcontainer .nav ul li a:hover {
  color: #515767;
  border-bottom: 2px solid #1e80ff;
}

/* 被选中的nav item */
#toptabcontainer .nav .curselect {
  color: #1e80ff;
}

/* 切换nav栏的显示模式 */
.hidden {
  display: none;
}

/* 当页面过窄时nav显示 */
#toptabcontainer .nav .navsmall {
  position: relative;
}

#toptabcontainer .nav .navsmall .navfirst {
  display: inline-block;
  width: 3.75rem;
  height: 3.75rem;
  font-size: 1rem;
  line-height: 3.75rem;
  color: #1e80ff;
  text-align: center;
}

#toptabcontainer .nav .dropdown {
  position: absolute;
  top: 3.125rem;
  left: -2.93rem;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8.875rem;
  line-height: 3.75rem;
  text-align: center;
  background-color: white;
  border: 1px solid #f1f1f1;
}

/* 切换主题按钮 */
#toptabcontainer .theme {
  position: absolute;
  right: 5rem;
  width: 1.875rem;
  height: 1.875rem;
  margin-top: 0.9375rem;
  background-image: var(--topnav-theme-icon);
  background-size: 1.875rem 1.875rem;
}

/* 红色备注 */
#toptabcontainer .navbig .remark {
  position: absolute;
  top: 0.3125rem;
  left: 1.5625rem;
  box-sizing: content-box;
  width: auto;
  height: 0.9375rem;
  padding: 2px;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: white;
  white-space: nowrap;
  background-color: red;
  border-radius: 10px;
  transform: scale(0.75);
  -webkit-transform-origin-x: 0;
}
