.box {
  /* box-sizing: border-box; */
  width: 300px;
  padding: 1.67rem;
  color: var(--article-title-color);
  background-color: var(--article-background-color);
  border-radius: 4px;
}

.head {
  display: block;
  display: flex;
  width: 100%;
  margin-bottom: 6px;
}

.avatar .pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar {
  margin-right: 20px;
}

.intro {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.heads {
  display: flex;
  justify-content: left;
}

.avimg {
  width: 35px;
  height: 16px;
}

.posts {
  margin-top: 4px;
  overflow: hidden;
  font-weight: 400;
  line-height: 22px;

  /* font-size: 1.167rem; */

  /* color: #515767; */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box hr {
  margin-top: 10px;
  margin-bottom: 4px;
}

/* 关注 私信 */
.opear {
  display: flex;
  justify-content: center;

  /* flex-wrap: nowrap; */
}

.attention,
.tell {
  width: 110px;
  padding: 7px 20px;
  font-size: 14px;
  color: white;
  background-color: #1d7dfa;
  border-radius: 4px;
}

.attention {
  margin-right: 6px;
}

.attention:hover {
  background-color: #80afed;
}

.tell {
  border: 1px solid var(--topnav-border-color);
}

.tell:hover {
  background-color: #1b1f230d;
}

.like,
.read {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px;
}

.reads,
.likes {
  margin-left: 6px;
  font-size: 14px;
}

.name {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial !important;
  font-size: 16px;
  font-weight: 500;

  /* color: #252933; */
}
